@import './variables'; 

header { 
   
    text-align: center;
    font-size: 16px;
    background-color: $primary-color; 
    height: 20em;



}





nav>ul{ 

  
    padding: 2em; 
    position: sticky;
   

}

nav>ul>li { 
   list-style: none;
   cursor: pointer;
   letter-spacing: .2rem; 
   padding: 1em; 
   border-radius: 20px;
   display: flex;
   justify-content: center;
 
}





/* END OF HEADER ------------------------------- */

body { 
    margin: 0%;
    z-index: -1;
    background-color: var(--color-Primary);
    
     
    }

main{ 
    margin: auto;
    padding: 15%; 
    z-index: 999; 
    background-color: var(--color-default);
    color: var(--color-font)
}


// START OF FOOTER -------------------->> 

footer { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%; 
    height: auto;
    background-color: rgb(216, 203, 203);
   
}



#Footer-Nav>nav{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em; 
    list-style: none;
}


#Footer-Social-Media>ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em; 
    list-style: none;
}